// header block for desktop. Header ishlashi uchun scss orqali mixin ulangan. Stilni o'zgartirish uchun mixinga kirib o'zgartirish kere. headerga ishlatilgan mixinlar: nav-text, link-style

.header {
    width: 100%;
    height: 96px;
    display: flex;
    z-index: 1;

    position: fixed;
    padding: 22px 40px;
    background-color: #ffffff;

    .hwrapper {
        display: flex;
        width: 1110px;
        margin: 0 auto;
        align-items: center;

        &__button {
            display: none;
        }

        &__img {
            width: 108px;
            height: 28px;
            display: block;
            margin-right: 62px;
        }
    }

    .nav {
        &__list {
            padding: 0;
            display: flex;
            list-style-type: none;
        }

        &__items {
            margin-left: 16px;
            margin-right: 16px;
        }

        &__link {
            @include nav-text;
        }

        &__link:hover {
            @include nav-text-hover;
        }

        &__items:first-child {
            margin-left: 0;
        }

        &__items:last-child {
            margin-right: 0px;
        }
    }

    .hwrapper__link {
        @include link-style;
        margin-left: auto;
    }

    .hwrapper__link:hover {
        @include link-style-hover;
    }

}

// end of header desktop

// header block for tablet.
@media screen and (max-width: 768px) {
    .header {
        top: 0;
        height: 96px;
        max-width: 768px;
        position: fixed;
        padding: 22px 40px;

        .hwrapper {
            width: 689px;
    
            &__img {
                margin-right: 58px;
            }
    
            &__button {
                display: none;
            }
        }
    }
}


// header block for mobile.
@media screen and (max-width: 375px) {
    .header {
        top: 0;
        max-width: 375px;
        height: 64px;
        position: fixed;
        padding: 24px 32px;
        align-items: center;
        
        .hwrapper {
            width: 100%;

            &__button {
                width: 20px;
                height: 20px;
                border: none;
                display: flex;
                background-size: 20px 16px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: transparent;
                background-image: url(./../img/header/burger.svg);
            }

            &__img {
                width: 76px;
                height: 20px;
                margin: 0 auto;
            }
        }
    }

    .nav,
    .hwrapper__link {
        display: none;
    }
}